.add-section {
    background-color: #575757;
    width: 100%;
    height: 100px;
    
}
.name-section{
    /* width: 100; */
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    padding-left: 50px;
}
.add-btn {
    display: block;
    height: 48px;
    margin: 20px;
    padding: 10px 20px;
}
.name {
    height: 40px;
}
.wheel {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  border: 5px solid #333;
  margin: 20px auto;
  background: conic-gradient(
    #ff595e 0deg 60deg,
    #ffca3a 60deg 120deg,
    #8ac926 120deg 180deg,
    #1982c4 180deg 240deg,
    #6a4c93 240deg 300deg,
    #ff004d 300deg 360deg
  );
  transition: transform 4s cubic-bezier(0.1, 0.7, 0.1, 1);
}
button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
}
.arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid red;
  margin: 0 auto;
  position: relative;
  top: 20px;
  z-index: 10;
}
