body {
  margin: 0px;
}
.add-section {
    background-color: #575757;
    width: 100%;
    height: 100px;
    
}
.name-section{
    /* width: 100; */
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100px;
    padding-left: 50px;
}
.add-btn {
    display: block;
    height: 48px;
    margin: 20px;
    padding: 10px 20px;
}
.name {
    height: 40px;
}

.sub-wheel {
  width: 400px;
  height: 400px;
  position: relative;
  border-radius: 50%;
  border: 5px solid #333;
  margin: 20px auto;
  background: conic-gradient(
    #ff595e 0deg 60deg,
    #ffca3a 60deg 120deg,
    #8ac926 120deg 180deg,
    #1982c4 180deg 240deg,
    #6a4c93 240deg 300deg,
    #ff004d 300deg 360deg
  );
  transition: transform 4s cubic-bezier(0.1, 0.7, 0.1, 1);
  position: absolute;
  top: 75px;
  right: 95px;
}
.main-wheel {
  width: 600px;
  height: 600px;
  position: relative;
  border-radius: 50%;
  border: 5px solid #333;
  margin: 20px auto;
  background: conic-gradient(
    #ff595e 0deg 60deg,
    #ffca3a 60deg 120deg,
    #8ac926 120deg 180deg,
    #1982c4 180deg 240deg,
    #6a4c93 240deg 300deg,
    #ff004d 300deg 360deg
  );
  transition: transform 4s cubic-bezier(0.1, 0.7, 0.1, 1);
  position: relative;
}
.fixed-wheel {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 50%;
  border: 5px solid #333;
  margin: 20px auto;
  background: conic-gradient(
    #ff595e 0deg 60deg,
    #ffca3a 60deg 120deg,
    #8ac926 120deg 180deg,
    #1982c4 180deg 240deg,
    #6a4c93 240deg 300deg,
    #ff004d 300deg 360deg
  );
  position: absolute;
  top: 443px;
  left: 50%;
  transform: translate(-50%, -50%); /* keeps it centered */
  z-index: 20; /* sits above spinning wheels */
}
.spin-btn {
  color: #333;
  font-size: large;
  width: 100px;
  height: 100px;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #ff004d;
  border: none;
  background: conic-gradient(
    #ff595e 0deg 60deg,
    #ffca3a 60deg 120deg,
    #8ac926 120deg 180deg,
    #1982c4 180deg 240deg,
    #6a4c93 240deg 300deg,
    #ff004d 300deg 360deg
  );

}
.up-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 30px solid #333;
  margin: 0 auto;
  position: relative;
  top: 54px;
  z-index: 10;
}
.down-arrow {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 30px solid #333;
  margin: 0 auto;
  position: relative;
  top: -32px;
  z-index: 10;
}
